@media (min-width: 767px) {

  .navbar-header{
    float: none;
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.47);
    padding: 0 15px 30px 14px;
    font-size: 14px;
    text-align: left;
  }


  .carousel-caption h3{
    color: #fff;
  }
  .carousel-caption h1 {
    background: none !important;
  }
  
  .carousel-caption h1 a {
    color: #fff;
    background: none;
  }

  .region-primary-menu{
    display: inline-block;
    float: left;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
  }

  .region-primary-menu,
  .menu-base-theme li a{
    background: none;
  }

  .slideshow{
    display: block;
  }

  .main-menuwrap nav {
    background: none; 
  }

  .navbar-default {
    background: none !important;
  }

  .navbar-default {
    border: none;
  /*  float: right;
    direction: ltr;*/
  }

  .menu-base-theme a{
    border: 0;
  }

  .menu-base-theme > li{
    border: 0;
    /*background: url(../images/nav-border.png) repeat-y right;*/
    padding: 0 2px 0 0;
  }

  .menu-base-theme a span.sub-arrow {
    padding: 0;
    top: 23px;
    margin-top: 0;
    bottom: 2px;
    right: 5px;
    margin-left: -5px;
    left: auto;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid dashed dashed dashed;
    border-color: #fff transparent transparent transparent;
    background: transparent;
  }

  .menu-base-theme ul {
    border: 1px solid #a8a8a8;
    padding: 0;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.74);
  }

  .menu-base-theme ul.has-submenu li {
    border-bottom: 1px solid #fff;
  }

  .welcome-banner-text h2{
    font-size: 50px;
  }

  .welcome-banner-text{
    font-size: 14px;
  }

  .bottom-widgets{
    text-align: left;
    padding: 50px 0;
  }

  .footerwidget{
    padding: 10px 0;
  }

  .credit-link{
    text-align: right;
  }

  .social-media{
    float: right;
  }

  .social-media a{
    margin: 0 0 0 10px;
  }

  /*comment*/

  .comment-wrap .author-details{ width: 10%; }

  .comment-wrap .author-comments{ width: 90%;}
}