
/* --------------------------------------------- 

* Filename:     custom-style.css
* Version:      1.0.0 (2016-01-12)
* Website:      http://www.zymphonies.com
                http://www.freebiezz.com
* Description:  System Style
* Author:       Zymphonies Dev Team
                info@zymphonies.com

-----------------------------------------------*/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  /*font-family: 'Arial', Helvetica, sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.42em;
  color: #333;
  overflow-x: hidden;
  background: #f5f5f5;
}

/*remove left right padding*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
       padding-right: 0 !important; 
     padding-left: 0 !important; 
}


p{ margin: 0 0 20px 0; }

h1, .h1{ font-size: 22px; color: #000; }

h2, .h2{ font-size: 20px; color: #000; }

h3, .h3{ font-size: 16px; color: #000; }

h4, .h4{ font-size: 14px; color: #000; }

img{ max-width: 100%; height: auto;}

a{
  color: #FB5A02;
}

a:hover{
  color: #FB5A02;
}

ol, ul {
  padding-left: 15px;
}

ul.links.inline{
  padding: 0;
}

ul.links.inline li{
  list-style: none;
}

.block{
  margin-bottom: 20px;
}

.container {
  max-width: 1021px;
}

.main-header{
  padding: 10px 0;
  background-size: cover;
  position: relative;
  background: #fff;
}

.main-menuwrap nav{
  border: 0;
  margin: 0;
  position: relative;
  z-index: 2;
  border-radius: 0;
}

.main-header .region{
  position: relative;
  z-index: 2;
}

/*region header*/

.site-branding{
  margin: 0;
}

.brand.logo{
  margin-right: 5px;
}

.region-header .brand{
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.site-name a{
  font-size: 26px;
  color: #272727;
}

/*Banner*/

.welcome-banner-text{
  text-align: center;
  line-height: 160%;
  max-width: 600px;
  padding: 90px 0;
}

.welcome-banner-text h2{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/*top widget*/

.topwidget{
  padding: 20px 0;
}

.topwidget .fa{
  font-size: 60px;
  background: #4D4F4A;
  width: 120px;
  height: 120px;
  padding: 32px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 20px;
}

.topwidget .region{
  background: #FCFCFC;
  border: 1px solid #F1F1F1;
  padding: 15px;
}

.topwidget h2{
  margin-top: 0;
}

.topwidget p{

}

.topwidget p:last-child{
  margin: 0;
}

/*footerwidget*/
.region.region-footer-menu {
  text-align: center;
}
.footer-menu nav li a {
  color: #fff;
  text-decoration: none;
}
.footerwidget{
  background: #272727;
  color: #8A8A8A;
  padding: 10px 0;
}

.footerwidget img.left{
  float: left;
  margin: 10px 10px 0 0;
}

.copyright{
  background: #fff;
  color: #777;
}

.copyright p{
  margin: 13px 0;
}

.footerwidget h2,
.footerwidget .h2{
  color: #FFF;
}

/*bottom-widgets*/

.bottom-widgets{
  text-align: center;
  background: #FBFBFB;
  padding: 10px 0;
}

.bottom-widgets .region{
  padding: 10px;
  background: #DEDEDE;
}

/*Footer menu*/

.footer-menu{
  margin: 0;
  border: 0;
  background: #3d3d3d;
  color: #fff;
  margin-top: 1%;
}

.footer-menu ul{
  margin: 10px 0;
  padding: 0;
}

.footer-menu nav li{
  display: inline-block;
}

.footer-menu nav li a{
  display: block;
  padding: 4px 20px 4px 0;
}

.google_map p,
.google_map .block{
  margin: 0;
}

.google_map iframe{
  display: block;
}

/*Credit link*/

.credit-link{
  text-align: left;
}

/*SOCIAL MEDIA*/

.social-media{
  margin: 10px 0;
  overflow: hidden;
  float: left;
}

.social-media a {
  width: 30px;
  height: 30px;
  color: #fff;
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  background: #3262b9;
  font-size: 14px;
  line-height: 220%;
}

.social-media a.google-plus{
  background: #de2020;
}

.social-media a.twitter{
  background: #29C5F6;
}

.social-media a.linkedin{
  background: #069;
}

.social-media a.pinterest{
  background: #C61118;
}

.social-media a.rss{
  background: #FF6D00;
}

.social-media a:hover{
  opacity: .6;
}

/*FORM*/

input, button, select, textarea{
  padding: 9px;
  border: 1px solid #C7C7C7;
}

.contact-message-form label{
  display: block;
}

.btn, 
input[type="submit"]{
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #E3E3E3));
  background-image: -webkit-linear-gradient(top, #FFF 0%, #E3E3E3 100%);
  background-image: linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E3E3E3');
  border: 1px solid #dbdbdb;
  color: #333;
  font-weight: bold;
  padding: 9px;
}

.btn:hover, 
input[type="submit"]:hover{
  background-image: -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
  background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F2F2F2');
}

/*FRONT PAGE*/

.path-frontpage .feed-icon{
  display: none;
}

/*MENU*/

.main-menuwrap{
  margin-bottom: 10px;
}

.navbar-default .navbar-toggle{
  background: #fff;
  margin-right: 0;
}

nav h2{
  display: none;
}

.menu-base-theme,
.menu-base-theme a, 
.menu-base-theme a:hover, 
.menu-base-theme a:focus, 
.menu-base-theme a:active, 
.menu-base-theme a.highlighted{
  background: none;
}

.menu-base-theme li a{
  background: #FBFBFB;
  color: #999 !important;
  font-weight: bold;
  font-size: 13px;
  padding: 13px 12px !important;
}

.menu-base-theme li a:hover {
  background: #f84700;
  color: #fff !important;
}

.main-menu {
  position: relative;
  z-index: 9999;
}

.region-primary-menu{
  display: none;
  background: #fff;
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;
}

.menu-base-theme a{
  border-bottom: 1px solid #EEF0F7;
}

.menu-base-theme a span.sub-arrow{
  color: #999;
  font-size: 22px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
} 
.has-submenu a {
    color: #999 !important;
}
.has-submenu {
    color: #999 !important;
}

.navbar-toggle{
  z-index: 999;
}

/*breadcrumb*/

.breadcrumb{
  background: #f5f5f5;
  padding: 10px 20px 0;
  margin: 0;
  border-bottom: 1px solid #eee;

}

.breadcrumb ul{
  padding: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.breadcrumb ul li{
  display: inline-block;
  color: #FB5A02;
}



/*search form*/

#search-block-form{
  display: table;
  width: 100%;
}

#search-block-form .form-item,
#search-block-form .form-actions{
  display: table-cell;
  vertical-align: top;
}

#search-block-form input{
  width: 100%;
}

/*Demo typography*/

.bd-example {
  position: relative;
  padding: 20px;
  border: 2px solid #f7f7f9;
}

.highlight{
  padding: 20px;
  background-color: #f7f7f9;
}

.highlight pre{
  border: 0;
  background: none;
}

.bd-example-type .table tr:first-child td {
  border-top: 0;
}

.bd-example-type h1, 
.bd-example-type h2, 
.bd-example-type h3, 
.bd-example-type h4, 
.bd-example-type h5, 
.bd-example-type h6 {
  margin: 0;
}

.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

/*Contact form*/

.path-contact{}

.contact-message-feedback-form{
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid #D8D8D8;
  padding: 10px 30px;
  background: #F5F5F4;
}

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea{
  width: 100%;
}

/*user-login-form*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/*Maintainance*/

.maintenance-page{
  background: url(../images/maintenance-bg.png) #66CBFF center no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  font-size: 18px;
  color: #000;
}

.maintenance-msg {
  margin: 20px 0;
  background: rgba(242, 244, 207, 0.88);
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  box-shadow: 5px 5px 0px #FFFFFF;
  font-size: 14px;
}

.maintenance-msg h1{
  text-transform: uppercase;
  font-weight: bold;
}

.maintenance-page .brand,
.maintenance-page .name-and-slogan{
  display: inline-block;
  vertical-align: middle;
}

.maintenance-page .site-name a{
  color: #404040;
}

.maintenance-page .site-slogan,
.maintenance-page .name-and-slogan{
  display: none;
}

/*Comment*/

.comment-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}

.comment-wrap .author-details{
  float: left;
  width: 20%;
}

.comment-wrap .author-comments{
  padding-left: 5px;
  float: left;
  width: 80%;
}

.comment-submitted{
  padding: 5px 10px;
  border: 1px solid #eee;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.comment-wrap .author-comments h3{
  margin-top: 10px;
}

.comment-wrap .author-comments p{
  margin-bottom: 10px;
}

/*links inline*/

ul.links.inline li{
  display: inline-block;
  padding-right: 10px;
}

/*profile*/

.profile > div{
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.profile h4.label{
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

/*Carousel*/
/*Owl slider styles*/
.owl-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right:0;

  // hide the pagination numbers
  .owl-pagination {
    display: none;
  }

  .owl-buttons {
    background: none;
    font-size: 2rem;
    color: #fff;

    div {
      position: absolute;
      top:0;
      bottom: 0;
      display: inline-block;
      zoom: 1;
      margin: 0;
      width: 50px;
      height: 30px;
      line-height: 25px;
      text-align: center;
      font-size: 3em !important;
      border-radius: 0;
      color: #FFF;
      background: none !important;
      text-transform: capitalize;
    }

    .owl-prev {
      left: 5px;
    }
    .owl-next {
      right: 5px;
    }


  }
}

/*.quickedit-field {
  display: none;
}*/
div#wrapper {
  background: #fff;
  padding: 0 0 2% 0;
}

/* welcome text */
h1 {
    font-size: 22px;
    color: #fff;
    background: #0b00f2;
    width: 56%;
    padding: 0.9% 0.3% 1% 1%;
}

/* hide field label*/
.field--name-field-services-image > .field__label {
    display: none;
}
.comment-submitted {
  display: none;
}

/*services block*/
.services-blocks {
  float: left;
  display: inline-block;
  padding-left: 10px !important;
}

.services-top-img {
  border: 1px solid #FB5A02;
}

/*first bloack */
.services-blocks:first-of-type {
    padding-left: 0;
    padding-right: 20px !important;
}

.services-intro-text {
    height: 70px;
}

.services-text {
    padding: 3%;
    font-size: 15px;
}
.services-text p {
    margin: 0%;
    line-height: 1;
}
.readmore-btn {
    background: #FB5A02;
    width: 100px;
    padding: 2%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 10px
}

.readmore-btn a {
  color: #fff;
}

/* services-page */
.field--name-field-services-image .node__content p {
  padding: 20px;
}
.field__item.services-image {
    text-align: center;
    /* border: 1px solid; */
}
.field__item.services-image img {
  border: 1px solid #FB5A02;
}
/*.slideshow{
  display: none;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img{
  width: 100%;
}

.carousel-control.left,
.carousel-control.right{
  width: 50px;
  height: 50px;
  background: #000;
  top: 50%;
  padding: 12px;
  margin-top: -25px;
}*/


/* Responsive styes start here */

@media (max-width: 992px){
  .row {
    padding: 0 !important;
    margin: 0 !important;
  }
.col-md-12 {
    width: 96% !important;
    padding: 2%;
  }
h1 {
    font-size: 22px;
    color: #fff;
    background: #0b00f2;
    width: 100%;
    padding: 0.9% 0.3% 1% 1%;
  }
  .services-top-img img {
    width: 100%;
  }
  .readmore-btn {
    background: #FB5A02;
    width: 113px;
    padding: 2%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 10px;
  }
.carousel-caption h1 {
  background: none;
  }

.carousel-caption {
    position: absolute;
    right: 0% !important;
    bottom: 20px;
    left: 0% !important; 
    z-index: 10;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    top: 0 !important;
    width: 100%;
  }
}
